{% extends "base.html" %}
{% block title %}Home{% endblock %}  
{% block content %}
<div class="contentwapper">
    <div class="instruction"> Requst Confirmation</div>
    <div class="well well-lg">
        <p>Title: {{ session.ride[1] }}</p>
        <p>Date: {{ session.ride[5] }}</p>
        <p>Time: from {{ session.ride[6] }} to {{ session.ride[7] }}</p>
        <p>Availbility: {{ session.ride[4] }} / {{ session.ride[3] }} </p>
        <!-- <p>Origin: {{ session.ride[] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p> -->
    </div>
</div>
{% endblock %}