{% extends "base.html" %}
{% block title %}Home{% endblock %}  
{% block content %}
<div class="contentwapper">
    <div id="button-group">
        <a href="/request" class="btn btn-info">Request</a>
        <a href="/offer" class="btn btn-warning">Offer</a>
    </div>
    <div class="instruction"> Scheduled Events</div>
    {% if session.events %}
        {% for i in session.events %}
            <div class="well well-lg">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <h3>{{ events[i][1] }}</h3>
            </div>

        {% endfor %}
    {% else %}
        <div class="subtitle">No events</div>
    {% endif %}
</div>
{% endblock %}
