{% extends "base.html" %}
{% block title %}Home{% endblock %}  
{% block content %}
<div class="contentwapper">
    <div id="button-group">
        <a href="/request" class="btn btn-info">Request</a>
        <a href="/offer" class="btn btn-warning">Offer</a>
    </div>
    <div class="instruction"> Scheduled Events</div>
    {% if session.offers %}
        {% for event in session.offers %}
            <div class="well well-lg">
                <h3>{{ event[1] }}</h3>
                <h5>Seats: {{ event[2] }} / {{ event[3] }} available</h5>
                <h5>{{ event[5] }}</h5>
                <br>
                <div id="button-group">
                    <a class="btn btn-warning" href="/offers/{{ event[0] }}">More</a>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <div class="subtitle">No events</div>
    {% endif %}
</div>
{% endblock %}
