{% extends "base.html" %}
{% block title %}Profile{% endblock %}  
{% block content %}
<div class="contentwapper">
    <div class="instruction"> Profile</div>
        <div class="well well-lg">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="profile-pic">
                        <div class="profile-mask">
                            <img src="{{ session.user.photo }}"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3>{{ session.user.first_name }} {{ session.user.last_name }}</h3>
                    <h5>{{ session.user.email }}</h5>
                    <h5>{{ session.user.phone }}</h5>
                    
                </div>
                <div class="pull-right">
                    <div class="col-xs-6 col-sm-3">
                        <div id="button-group">
                            <a class="btn btn-default" href="/edit_profile">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="instruction"> Rides you are offering</div>
    {% if session.events %}
        {% for i in range(session.events) %}
            <div class="glyphicon glyphicon-star" aria-hidden="true"></div>
        {% endfor %}
        {% for i in range(5-session.user.d_rating) %}
            <div class="glyphicon glyphicon-star-empty" aria-hidden="true"></div>
        {% endfor %}
    {% else %}
        <div class="subtitle">No rides offered</div>
    {% endif %}
</div>
{% endblock %}