{% extends "base.html" %}
{% block title %}Home{% endblock %}  
{% block content %}
<div class="contentwapper">
    <div class="instruction"> Requst Confirmation</div>
    <div class="well well-lg">
        <p>Title: {{ ride.title }}</p>
        <p>Date: {{ ride.start_date }}</p>
        <p>Time: from {{ ride.start_time }} to {{ ride.end_time }}</p>
        <!-- <p>Origin: {{ session.ride[] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p>
        <p>Title: {{ session.ride[1] }}</p> -->
    </div>
</div>
{% endblock %}
