{% extends "base.html" %}
{% block title %}Home{% endblock %}  
{% block content %}
<div class="contentwapper">
    <div class="instruction"> Ride Info</div>
    <div class="well well-lg">
        <h3>{{ session.ride[1] }}</h3>
        <p>From {{ session.ride[5] }} to {{ session.ride[6] }}</p>
        <p>Seats: {{ session.ride[4] }} / {{ session.ride[3] }} available</p>
                <div id="map-canvas"></div>
    </div>
    <div id="button-group">
        <a class="btn btn-primary" href="/home">Go to Home</a>
    </div>
    <form action="" method="post">
        <input type="submit" value="Request SMS Chat" />
    </form>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuMSUBWuxJ_uj-p-Eict9y3QTsfVHbo-g&sensor=false"></script>
<script type="text/javascript" src="/js/displaymap.js"></script>
<script>
createPins(
    10,10,10,10
    );
</script>
{% endblock %}
