{% extends "base.html" %}
{% block title %}Home{% endblock %}  
{% block content %}
<div class="contentwapper">
    <div class="instruction"> Ride Info</div>
    <div class="well well-lg">
        <h3>{{ offer.title }}</h3>
        <p>Max Seats: {{ offer.max_seats }}</p>
        <p>Open Seats: {{ offer.open_seats }}</p>
        <p>Start Time: {{ offer.start_time }}</p>
        <p>Start Date: {{ offer.start_date }}</p>
        <p>End Time: {{ offer.end_time }}</p>
        <p>End Date: {{ offer.start_date }}</p>
        <p>Origin: {{ offer.origin.name }}</p>
        <p>Destination: {{offer.destination.name }}</p>
    </div>
</div>
{% endblock %}
